<footer>
    <p>
        &copy; <%= new Date().getFullYear() %> Alejandro's Website
            | <a href="/intentional-error" title="Trigger Intentional Error">Trigger Error</a>
    </p>
    </footer>